<div class="container">
    <h1>Add a Restaurant</h1>
    <%= render "form" %>

    <%= link_to restaurants_path do %>
      <i class="fas fa-arrow-circle-left yellow mt-3" style="font-size: 24px"></i>
    <% end %>
</div>
