.card-product {
  overflow: hidden;
  height: 60%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

// .card-product img {
//   height: 60%;
//   width: 100%;
// }

// .card-image {
//   height: 60%;
//   width: 30%;
// }

.card-product h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 24px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 24px;
}
